.header {
  text-align: center;
}
h3 {
  font-style: italic;
}
history li {
  margin: 100px;
  font-family: garamond, serif;
  font-size: 16px;
}
.history {
  width: 1000px;
  margin: auto;
  border: 20px solid #000;
}
p {
  font-family: garamond, serif;
  font-size: 16px;
}
.right {
  float: right;
}
