.header {
  text-align: center;
}
h3 {
  font-style: italic;
}
history li {
  margin: 100px;
  font-family: Garamond, serif;
}
.history {
  border: 1px solid #000;
  padding: 175px;
}
p {
  font-family: garamond, serif;
  font-size: 32px;
}
